.Rhistory
.Rdata
.Rproj.user
_BioC2018.rds
*_cache
*_files
docs
*.md
*.html
search_index.json
libs
*.rds
bookdown*
tmp-pdfcrop-*
figures
packrat/lib*/

*.normalized_results

MANIFEST.txt

Homo_sapiens_genes__GRCh37_p13_.rda
